<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
   
    <title> Detalhes</title>
</head>
<body id="detalhes">
    <header>
        <nav>
            <button class="pokedex-mode black-button"><a href="./">HOME</a></button>
            <button class="game-mode black-button"><a href="./cadastro">CADASTRAR</a></button>
        </nav>
        <h1>Detalhes</h1>
    </header>
    <main>
        
       
    <% 
   for(let i=0;i<=0;i++) { %>
       <ul id="det">

               <img id="tela" src="<%= pokedados[props[0]] %>"/>
               <section id="poke"><h2>Numero: </h2><article><%= pokedados[props[1]] %></article></section>
               <section id="poke"><h2>Nome: </h2><article><%= pokedados[props[2]] %></article></section>
               <section id="poke"><h2>Tipo: </h2><article><%= pokedados[props[3]] %></article></section>
               <section id="poke"><h2>Descrição: </h2><article><%= pokedados[props[4]] %></article></section>
               <section id="poke"><h2>Altura: </h2><article><%= pokedados[props[5]] %></article></section>
               <section id="poke"><h2>Peso: </h2><article><%= pokedados[props[6]] %></article></section>
               <section id="poke"><h2>Habilidade: </h2><article><%= pokedados[props[7]] %></article></section>
           
       </ul>
       <% } %>
    
    </main>
<script src="../public/js/script.js"></script>
</body>
</html>